html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

a {
  color: white;
}

.blacklink {
  color: blue;
  text-decoration: underline;
}