{{#partial "content"}}

        <div class="well">
            <h1>Add an Attendee</h1>
            <form action="/attendee/new" method="post">
                <div class ="form-group">
                    <label for="attendeeName">Name</label>
                    <input id="attendeeName" name="attendeeName" type="text">
                </div>
                <div class ="form-group">
                    <label for="attendeeCompany">Company</label>
                    <input id="attendeeCompany" name="attendeeCompany" type="text">
                </div>
                <div class ="form-group">
                    <label for="attendeeEmail">Email</label>
                    <input id="attendeeEmail" name="attendeeEmail" type="text">
                </div>
                <div class ="form-group">
                    <label for="attendeeAge">Age</label>
                    <input id="attendeeAge" name="attendeeAge" type="text">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

{{/partial}}

{{> layout.hbs}}