{{#partial "content"}}


    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/events">Event Listing</a></li>
        <li role="presentation"><a href="/event/new">Add New Event</a></li>
    </ul>
    <div class="container">
        <!--begin main template-->
        <div class="page-header">
            <h1>Startup Weekend Dashboard</h1>
        </div>
        <div class="well">
            <p>The hardest part of starting up is starting out. At Trevor's Startup Weekend, attendees will be immersed in the ideal environment for startup magic to happen. Surrounded by smart, passionate peers and the best tech service providers in the industry, attendees will take giant leaps toward creating a business, becoming a founder, and connecting with the right people and resources.</p>
            <p>It's our job to ensure that attendees have access to top-notch sessions with qualified, personable speakers.</p>
        </div>

        </div>
    </div>


{{/partial}}
{{> layout.hbs}}