<html>
    <head>
        <title>{{#block "title"}}Startup Weekend Event Dashboard{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/app.css'>
        <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}
    </body>
</html>